/* Variables globales */
:root {
  --blanc-casse: #FAF9F6;
  --vert-sauge: #8A9A7C;
  --gris-anth: #2F343B;
  --vert-fonce: #5E6C53;
  --focus: #FFB703;
  --link: #8A9A7C;
  --link-hover: #5E6C53;
  --success: #16A34A;
  --error: #DC2626;
}
